@import url(/base.css);


/*########## HEADER ##########*/

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 10rem;
}

header > nav > menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

body > nav {
    height: 2rem;
}

body > nav > menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


/*########## MAIN ##########*/

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
    gap: 1rem;
    min-height: calc(100vh - (10rem + 2rem + 2rem));
}


/*########## FOOTER ##########*/

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 2rem;
}


/*########## MEDIA QUERIES ##########*/

@media (min-width: 600px) {
    body {
        display: grid;
        grid-template-columns: 10rem 1fr;
    }

    header {
        grid-column: 1 / span 2;
        flex-direction: row;
        justify-content: space-between;
        height: 5rem;
    }

    body > nav {
        grid-column: 1 / 2;
        grid-row: 2 / 2;
    }

    body > nav > menu {
        flex-direction: column;
    }

    main {
        justify-content: space-evenly;
        min-height: calc(100vh - (5rem + 2rem + 2rem));
    }

    footer {
        grid-column: 1 / span 2;
        justify-content: center;
        gap: 2rem;
    }
}

@media (min-width: 1200px) {
    main {
        min-height: 100vh;
    }
}
