*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif, Arial;
}

/*############
####HEADER####
############*/

header{
    color: white;
    background-color: black;
    height: auto
}

header > h1{
    padding: 5rem 0 0 2.5rem;
    font-size: 5rem;   
}

header > h2{
    padding: .5rem 0 .5rem 2.5rem;
    font-size: 3.5rem;
    font-weight: 500;
}

header > p{
    padding: 0 0 4.5rem 2.5rem;
    width: 80vw;
    font-size: 1.2rem;
}

/*############
#####MAIN#####
############*/

main{
    width: 60vw;
    margin: 0 auto;
}

main > section{
    margin: 2rem 0 3rem 0;
}

main > section > p{
    margin-top: 1rem;
    font-size: 1.2rem;
}

main > section > h2, main > form > h2{
    color: grey;
    font-size: 2.5rem;
    border-bottom: 2px solid black;
    padding-bottom: .5rem;
    margin-bottom: 2rem;
}

main > section > img{
    float: right;
    margin: 1rem 0 0 .8rem;
    height: 360px;
}

/* Form */

form > label{
    display: block;
    margin: 1rem 0 .3rem 0;
    font-weight: bold;
}

form > input{
    width: 60vw;
    height: 35px;
    padding-left: 15px;
    background-color: rgb(114, 114, 114);
    border: none;
}

form > textarea{
    width: 60vw;
    height: 200px;
    padding: 15px;
    background-color: rgb(114, 114, 114);
    border: none;
}

form > button{
    margin: 1rem 0 2rem 0;
    padding: .6rem 1.8rem;
    background-color: black;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
