* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App > header {
  padding: 2rem 3rem 3rem 3rem;
  text-align: center;
}

footer {
  padding: 1rem 2rem;
  text-align: center;
}

main {
  flex-grow: 1;
}

/*MAIN*/
section.user > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  list-style: none;
  margin-bottom: 3rem;
}

section.user > ul > li {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  border: 1px solid #404040;
  border-radius: 10px;
  overflow: hidden;
}

section.user > ul > li > div {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 1rem;
}

.locationList {
  list-style: none;
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.completeName {
  display: flex;
  gap: 0.3rem;
  color: #fff;
}

.userPicture {
  border-radius: 50%;
}

.headerName {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  background: #454545;
}

.over18 {
  width: 2rem;
}
